/* For more help, browse the devicetree documentation at https://docs.zephyrproject.org/latest/build/dts/index.html
 * You can also visit the nRF DeviceTree extension documentation at https://docs.nordicsemi.com/bundle/nrf-connect-vscode/page/guides/ncs_configure_app.html#devicetree-support-in-the-extension
 */
/*
/ {
	chosen {
		zephyr,console = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
	};
};
*/
/ {
	chosen {
		nordic,nus-uart = &uart0;
	};
};
/ {
	zephyr,user {
		io-channels = <&adc 0>, <&adc 1>;
	};
};

&uicr {
    nfct-pins-as-gpios;
};


/ {
    leds {
		compatible = "gpio-leds";
		led1: led_1 {
			gpios = <&gpio0 11 GPIO_ACTIVE_LOW>;        /*GPIO_32 */
			label = "Green LED 1";
		};

		led2: led_2 {
			gpios = <&gpio0 12 GPIO_ACTIVE_LOW>;
			label = "Blue LED 2";
		};
	};
};

/ {
    custom_gpios{
        compatible = "custom-gpios";

        enhv: en_hv_pin{
            gpios = <&gpio0 14 GPIO_ACTIVE_LOW>;      /*GPIO_2 */
            label = "High voltage enable for ASKA";
        };

        resetn: resetn_pin{
            gpios = <&gpio0 10 GPIO_ACTIVE_LOW>;     /*GPIO_29 */
            label = "Reset for ASKA";
        };
    };
};

/ {
    test_led {
        compatible = "gpio-leds";

        status_led: status_led_pin{
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;      /*GPIO_28 */
			label = "LED to indicate the system status";
        };
    };
};




&adc {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	//Sensor 1
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>;           /* GPIO_18 */
		zephyr,resolution = <12>;
	};

	//Sensor 2
	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>;           /* GPIO_25 */
		zephyr,resolution = <12>;
	};
};


/{
    aliases{
        statusled = &status_led;
        enhv  = &enhv;
        resetn = &resetn;
    };
};

/ {
    clkout: clkout {
        compatible = "clk-out";
        pwms = <&pwm1 0 PWM_USEC(50) PWM_POLARITY_NORMAL>;
        min-pulse = <PWM_USEC(25)>;
        max-pulse = <PWM_USEC(25)>;
    };
};

&pwm1 {
    status = "okay";
    pinctrl-0 = <&pwm1_custom_clk>;
    pinctrl-1 = <&pwm1_csleep_clk>;
    pinctrl-names = "default", "sleep";
};


&uart0 {
	compatible = "nordic,nrf-uarte";
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart0_custom>;
	pinctrl-1 = <&uart0_csleep>;
	pinctrl-names = "default", "sleep";
};

&spi1 {
    compatible = "nordic,nrf-spi"; //using SPI as per ERRATA 58
    status = "okay";
    pinctrl-0 = <&spi1_default>;
    pinctrl-1 = <&spi1_sleep>;
    pinctrl-names = "default", "sleep";
    cs-gpios = <&gpio0 30 GPIO_ACTIVE_LOW>;             /*GPIO_24 */
   	aska: aska@0 {
        compatible = "aska,kth";
        reg = <0>;
        spi-max-frequency = <125000>;
    };
};


&pinctrl {
	uart0_custom: uart0_custom {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 8)>,          /*GPIO_34 */
				<NRF_PSEL(UART_RX, 1, 9)>,              /*GPIO_33 */
				<NRF_PSEL(UART_RTS, 1, 13)>,            /*GPIO_22*/
				<NRF_PSEL(UART_CTS, 1, 12)>;            /*GPIO_21*/
		};
	};

	uart0_csleep: uart0_csleep {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 8)>,          /*GPIO_34 */
				<NRF_PSEL(UART_RX, 1, 9)>,              /*GPIO_33 */
				<NRF_PSEL(UART_RTS, 1, 13)>,            /*GPIO_22*/
				<NRF_PSEL(UART_CTS, 1, 12)>;            /*GPIO_21*/
			low-power-enable;
		};
	};

	spi1_default: spi1_default {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 28)>,		/*GPIO_17  */
                    <NRF_PSEL(SPIM_MOSI, 0, 29)>,		/*GPIO_23 */
                    <NRF_PSEL(SPIM_MISO, 0, 31)>;		/*GPIO_20 */
        };
    };
    spi1_sleep: spi1_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 0, 28)>,		/*GPIO_17 */
                    <NRF_PSEL(SPIM_MOSI, 0, 29)>,		/*GPIO_23 */
                    <NRF_PSEL(SPIM_MISO, 0, 31)>;		/*GPIO_20 */
            low-power-enable;
        };
    };

	pwm1_custom_clk: pwm1_custom_clk {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;         /*GPIO 1 */
            nordic,invert;
        };
    };
    pwm1_csleep_clk: pwm1_csleep_clk {
        group1 {
            psels = <NRF_PSEL(PWM_OUT0, 0, 13)>;         /*GPIO 1 */
            low-power-enable;
        };
    };

};



/ {
    chosen {
        zephyr,storage = &storage_partition;
    };
};
